DATABASE_URL=postgresql+psycopg://ethara_database_qffd_user:QvHdOcgHhlekwz3qJfPMPn1FmE3Tc5Ar@dpg-d8ekppbbc2fs73cllue0-a.singapore-postgres.render.com/ethara_database_qffd
SECRET_KEY=0e0068f2059eda1da06de8ca64f9de7c
FRONTEND_URL=https://ethara-ai-assignment-tawny.vercel.app/
ENVIRONMENT=production
